{% extends "base.twig" %}
{% block content %}
{% include "header.twig" %}
	{% for obj in post.get_field('featured_objects') %}
	{% set image = obj.get_field('object_images')[0] %}
	{# <img class='home-image' src="{{ TimberImage(image).src | resize(800, 1000)}}" alt="{{obj.title}}"> #}
	<div class="home-image-caption">
		<p>→</p>
		<h2><a href='{{obj.link}}'>{{obj.title}}</a></h2>
		<p>{{obj.latin_title}}</p>
		<p>Regal-Nr. {{obj.id}}</p>
	</div>
	{% endfor %}
<section class="home-hero">
<div class="home-copy">
<p>Das <a href="http://www.humboldt-konstanz.de/">Alexander von Humboldt Gymnasium Konstanz</a> beherbergt eine umfangreiche Sammlung biologischer Lehrpräperate aus dem 20. Jahrhundert. {{objects | length}} Objekte aus dieser Sammlung sind hier dokumentiert.</p>
	{# <div class="home-search">
	{% include "searchform.twig" %}
	</div> #}
	<p>
	Kategorien: 
	{% for class in bio_classes %}
		<a href="{{class.link}}" class="home-class">{{class.title}}</a><em>({{class.posts|length}}) </em>
	{% endfor %}
	</p>
	</div>
</section>

{% endblock %}